@using Elsa.SKS.Backend.Services.DTOs
@using Newtonsoft.Json

<EditForm Model="@Parcel" OnValidSubmit="@ValidFormSubmitted">
  <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="weight">Weight</label>
        <InputText @bind-Value="_parcelWeight" type="number" step="0.01" class="form-control" id="weight" placeholder="Weight" required />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
  </div>
  <h5 class="d-inline-block mt-4 mb-4">Sender</h5>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="nameSender">Name</label>
      <InputText @bind-Value="Parcel.Sender.Name" type="text" class="form-control" id="nameSender" placeholder="First name" required />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="streetSender">Street</label>
      <InputText @bind-Value="Parcel.Sender.Street" type="text" class="form-control" id="streetSender" placeholder="Street" required />
      <div class="invalid-feedback">
        Please provide a valid street.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="citySender">City</label>
      <InputText @bind-Value="Parcel.Sender.City" type="text" class="form-control" id="citySender" placeholder="City" required />
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="postalCodeSender">Postal Code</label>
      <InputText @bind-Value="Parcel.Sender.PostalCode" type="text" class="form-control" id="postalCodeSender" placeholder="Postal Code" required />
      <div class="invalid-feedback">
        Please provide a valid postal code.
      </div>
    </div>
  </div>
  <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="countrySender">Country</label>
        <InputText @bind-Value="Parcel.Sender.Country" type="text" class="form-control" id="countrySender" placeholder="Country" required />
        <div class="invalid-feedback">
          Please provide a valid country.
        </div>
      </div>
    </div>
  <h5 class="d-inline-block mt-4 mb-4">Recipient</h5>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="nameRecipient">Name</label>
      <InputText @bind-Value="Parcel.Recipient.Name" type="text" class="form-control" id="nameRecipient" placeholder="First name" required />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="streetRecipient">Street</label>
      <InputText @bind-Value="Parcel.Recipient.Street" type="text" class="form-control" id="streetRecipient" placeholder="Street" required />
      <div class="invalid-feedback">
        Please provide a valid street.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="cityRecipient">City</label>
      <InputText @bind-Value="Parcel.Recipient.City" type="text" class="form-control" id="cityRecipient" placeholder="City" required />
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="postalCodeRecipient">Postal Code</label>
      <InputText @bind-Value="Parcel.Recipient.PostalCode" type="text" class="form-control" id="postalCodeRecipient" placeholder="Postal Code" required />
      <div class="invalid-feedback">
        Please provide a valid postal code.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="countryRecipient">Country</label>
      <InputText @bind-Value="Parcel.Recipient.Country" type="text" class="form-control" id="countryRecipient" placeholder="Country" required />
      <div class="invalid-feedback">
        Please provide a valid country.
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-4" type="submit">Submit form</button>
</EditForm>

@code {
  [Parameter]
  public Func<Parcel, Task>? CallbackAsync { get; set; }
  
  private string _parcelWeight = "30";
  
  public Parcel Parcel = new Parcel
  {
    Sender = new Recipient
    {
      Name = "Elisabeth",
      Street = "Neubaugasse 1",
      PostalCode = "1210",
      Country = "Austria",
      City = "Wien"
    },
    Recipient = new Recipient
    {
      Name = "Samuel",
      Street = "Karlsplatz 1",
      PostalCode = "1040",
      Country = "Austria",
      City = "Wien"
    }
  };

  private void ValidFormSubmitted(EditContext context)
  {
    Parcel.Weight = float.Parse(_parcelWeight);
    Console.WriteLine("Parcel form submitted:");
    Console.WriteLine(JsonConvert.SerializeObject(Parcel));
    CallbackAsync?.Invoke(Parcel);
  }
}