@using Elsa.SKS.Backend.Services.DTOs
@using Elsa.SKS.Frontend.Configuration
@using Newtonsoft.Json
@using System.Text
@inject HttpClient _httpClient;
@inject AppConfiguration _appConfiguration
@inject NavigationManager _navManager;

<EditForm Model="@TrackingId" OnValidSubmit="@ValidFormSubmitted">
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="trackingId">Tracking Id</label>
            <input @bind="TrackingId" type="text" class="form-control" id="trackingId" placeholder="Enter your TrackingId" required />
            <div class="invalid-feedback">
                Please provide a valid tracking Id.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" @onclick="@ShowTrackingInformation" type="submit">Track parcel</button>
</EditForm>



@code {
    
    [Parameter]
    public string? TrackingId { get; set; }
    
    private async Task ValidFormSubmitted(EditContext context)
    {
        // navigating to tracking page
        Console.WriteLine("Navigating to tracking screen");
        //_navManager.NavigateTo($"/tracking/{parcelInfo.TrackingId}");
        //_navManager.NavigateTo($"/tracking");
    }
    
    private async Task ShowTrackingInformation()
    {
        if (string.IsNullOrEmpty(TrackingId))
        {
            return;
        }
        
        Console.WriteLine($"Show Tracking Information from parcel with ID: {TrackingId}");
        _navManager.NavigateTo($"/tracking/{TrackingId}", forceLoad: true);
    }
    
}