@page "/reporting"

<h3 class="text-sm mt-4 mb-4">Reporting Parcel checkpoint or delivery</h3>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
