@page "/submit"
@using Elsa.SKS.Frontend.Configuration
@inject NavigationManager _navManager;
@inject HttpClient _httpClient
@inject AppConfiguration _appConfiguration

<h3 class="text-sm mt-4 mb-4">Submit Parcel</h3>

<div class="mb-5">
    <SubmitParcelForm />
</div>

