@page "/tracking"
@using Elsa.SKS.Frontend.Configuration
@using Elsa.SKS.Backend.Services.DTOs
@inject HttpClient _httpClient
@inject AppConfiguration _appConfiguration

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
}

@code {
    private object[] forecasts = null;

    private Warehouse _warehouse = null;

    protected override async Task OnInitializedAsync()
    {
        string url = $"{_appConfiguration.AppUrl}/warehouse";
        _warehouse = await _httpClient.GetFromJsonAsync<Warehouse>(url);
        Console.WriteLine($"Loaded warehouse level {_warehouse.Level}");
    }

}
