@page "/tracking"
@page "/tracking/{trackingId}"
@using Elsa.SKS.Frontend.Configuration
@using Elsa.SKS.Backend.Services.DTOs
@inject HttpClient _httpClient
@inject AppConfiguration _appConfiguration

<h3 class="text-sm mt-4 mb-4">Parcel Tracking</h3>

<div class="mb-5">
    <TrackParcelForm />
</div>

<div class="mb-5">
    <TrackingInformationTable />
</div>

@code {
    
    [Parameter]
    public string? TrackingId { get; set; }

    private TrackingInformation? _parcel { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        TrackingId ??= "";
    }
}